@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,800;1,300&display=swap');
*{
    font-family: 'Nunito', sans-serif ;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all,4ms linear;
}
html{
    font-size: 120%;
    overflow-x: hidden;
    scroll-padding-top: 7%;
    scroll-behavior: smooth;
    background-image: url("https://images.creativemarket.com/0.1.0/ps/8179919/1820/1213/m1/fpnw/wm1/xivfroscljtcfbv479rnw8ph3e7k5hea9uj7rp18deswpmvup4w66taxgcuum1f8-.jpg?1587497992&s=86646027d7fb412febc64f312d01c79a");
 
}
header{
    position: fixed;
    top: 0px; left: 0px; right: 0px;
    background: #A9A9A9;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 40px 10px 90px rgba(0, 0, 0, 0.795);
    z-index: 1000;
}
header .logo{
    color:black;
    font-size: 30px;
    font-weight: bold;
    padding-left: -20px;
}
header .logo i{
    color:rgb(255, 81, 0);
}
header .navbar a{
    font-size: 20x;
    border-radius: 30px;
    padding: 20px;
    color: rgb(0, 0, 0);
}
header .navbar a.active,
header .navbar a:hover{
    color: rgb(255, 81, 0);
    background: black;
}
header .icons i,
header .icons a{
    color: rgb(255, 81, 0);
    border-radius: 20px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.658);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
header .icons i:hover,
header .icons a:hover{
    background-color: black;
    transform: rotate(340deg); 
}
ul{
    list-style: none;
    background:#A9A9A9 ;
}
ul li{
    display: inline-block;
    position: relative;
}
.dropdown li{
    display: block;
    margin-left: -10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
ul li ul.dropdown{
    width: 130px;
    height: 130px;
    background: rgb(0, 0, 0);
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 20px;
}
.dropdown li a{
    background:rgb(0, 0, 0);
}
.dropdown li a:hover{
   color: rgb(180, 75, 27);
}
ul li:hover ul.dropdown{
    display: block;
}
.content{
    align-items: center;
    padding-top: 140px;
    padding-left: 100px;
}
.o{
    padding-left: 20px;
    color: rgb(255, 81, 0);
    font-size: 50px;
    font-weight: bold;
}
h2{
    color: rgb(255, 103, 15);
    font-size: 27px;
    padding-left: 50px;
}
p{
    padding-left: 50px;
}
.image{
    padding-left: 100px;
    padding-top: 60px;
}
.btn{
    padding: 20px;
    margin-left: 50px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background: rgb(255, 81, 0);
    color:black ;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover{
    background-color:#A9A9A9;
    color: rgb(255, 81, 0) ;
}
.swiper-pagination-bullet-active{
    background: black;
}
::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track{
    background-color: #A9A9A9;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(230, 91, 36);
}
::-webkit-scrollbar-button{
    background-color: #A9A9A9;
    
}
::-webkit-scrollbar-corner{
    background-color: #A9A9A9;
}
.box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,90px));
    gap: 80px;
   
}
.box{
    padding-left: 400px;
    font-size: 20px;
    color: rgb(122, 122, 122);
}
.box h3{
  padding: 20px;
  font-size: 20px;
  color:rgb(255, 81, 0) ;
}
.box a{
    display: block;
    padding: 10px;
    font-size: 15px;
    color: #A9A9A9;
}
.box a:hover{
    color: rgb(255, 81, 0) ;
    text-decoration: underline;
}
.a{
    padding-left: 500px;
}
.footer{
    color:rgb(255, 81, 0); 
    width: 300px;
    height: 400px;
    font-size: 80px;
    margin-top: -10px;
    margin-left: 100px;
}
.credit{
    text-align: center;
    font-size: 20px;
    margin-top: -40px;
    padding-left: 10px;
    color: rgb(255, 81, 0);
}
